html
  head
  body
    .row.p-5.d-flex.justify-content-around
      .card(style='width: 18rem;')
        img.card-img-top(src='https://kppinvestment.in/assets/img/team/team-2.jpg', alt='Card image cap')
        .card-body
          h5.card-title Bharat Suthar
          p.card-text
            | CEO | Founder
          a.btn.btn-primary(href='/contact') Contact
      .card(style='width: 18rem;')
        img.card-img-top(src='https://kppinvestment.in/assets/img/team/team-1.jpg', alt='Card image cap')
        .card-body
          h5.card-title Suresh Suthar
          p.card-text
            | Product Manager
          a.btn.btn-primary(href='/contact') Contact
      .card(style='width: 18rem;')
        img.card-img-top(src='https://kppinvestment.in/assets/img/team/team-3.jpg', alt='Card image cap')
        .card-body
          h5.card-title Rajendra Suthar
          p.card-text
            | Instructor
          a.btn.btn-primary(href='/contact') Contact
      