- let arr=['http://victorsanders.be/wp-content/uploads/2021/04/studdy.jpg', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQX7pO5LR52E31m_JYhIxOM2lBLuYFGiQehdxJuWPdHKtFwN0olDkBsvMpUMU-3bcTxN5Y&usqp=CAU', 'https://www.hasa.nu/static/img/middelbareschool/bijles-1.jpg','https://hartverwarmendwijs.nl/wp-content/uploads/2022/04/Bijles-biologie-1-540x340.jpg','https://5.imimg.com/data5/PR/EP/YN/SELLER-9734292/studybuddy-logo-trans-500x500.png','https://www.nmspurgstall.at/wp-content/uploads/2020/10/meeting-1002800_1280-e1603550682781-768x432.jpg'];
- for(let i=0; i<6; i++)
            
            
    img.card-img-top.container(style='width: 18rem;width:200px; height:200px' src=`${arr[i]}`, alt='...')
    